absl-py==1.4.0
annotated-types==0.7.0
anyio==4.11.0
apache-beam==2.59.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
array-record==0.5.0
array_record_beam_sdk==0.1.0
arrow==1.4.0
astunparse==1.6.3
async-lru==2.0.5
async-timeout==5.0.1
attrs==23.2.0
babel==2.17.0
backcall==0.2.0
beautifulsoup4==4.14.2
bleach==6.3.0
cachetools==5.5.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
choreographer==1.2.1
click==8.3.0
cloudpickle==2.2.1
colorama==0.4.6
comm==0.2.3
contourpy @ file:///croot/contourpy_1732540045555/work
cramjam==2.11.0
crcmod==1.7
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dcor==0.6
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
dill==0.3.1.1
dnspython==2.8.0
docker==7.1.0
docopt==0.6.2
docstring_parser==0.17.0
etils==1.13.0
exceptiongroup==1.3.0
fastavro==1.12.1
fasteners==0.20
fastjsonschema==2.21.2
flatbuffers==25.9.23
fonttools @ file:///home/task_175975444451365/conda-bld/fonttools_1759754870571/work
fqdn==1.5.1
fsspec==2026.2.0
gast==0.6.0
google-api-core==2.28.1
google-api-python-client==1.12.11
google-apitools==0.5.31
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-cloud-aiplatform==1.127.0
google-cloud-bigquery==3.38.0
google-cloud-bigquery-storage==2.34.0
google-cloud-bigtable==2.34.0
google-cloud-core==2.5.0
google-cloud-datastore==2.21.0
google-cloud-dlp==3.33.0
google-cloud-language==2.18.0
google-cloud-pubsub==2.33.0
google-cloud-pubsublite==1.12.0
google-cloud-recommendations-ai==0.10.18
google-cloud-resource-manager==1.15.0
google-cloud-spanner==3.59.0
google-cloud-storage==2.19.0
google-cloud-videointelligence==2.17.0
google-cloud-vision==3.11.0
google-crc32c==1.7.1
google-genai==1.50.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.72.0
greenlet==3.2.4
grpc-google-iam-v1==0.14.3
grpc-interceptor==0.15.4
grpcio==1.76.0
grpcio-status==1.49.0rc1
h11==0.16.0
h5py==3.15.1
hdfs==2.7.3
httpcore==1.0.9
httplib2==0.22.0
httpx==0.28.1
idna==3.11
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.3.0
ipykernel==7.1.0
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.8.5
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
Js2Py==0.74
json5==0.12.1
jsonpickle==3.4.2
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.13.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==1.1.10
kaleido==1.2.0
keras==3.12.0
keras-tuner==1.4.8
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
kt-legacy==1.0.5
kubernetes==26.1.0
lark==1.3.1
libclang==18.1.1
llvmlite==0.45.1
logistro==2.0.1
lxml==6.0.2
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.6
matplotlib-inline==0.2.1
mdurl==0.1.2
mistune==3.1.4
mkl-service==2.5.2
mkl_fft @ file:///home/task_176159252575002/conda-bld/mkl_fft_1761592901585/work
mkl_random @ file:///home/task_176159293813909/conda-bld/mkl_random_1761592952512/work
ml-dtypes==0.3.2
ml-metadata==1.16.0
ml-pipelines-sdk==1.16.0
-e git+ssh://git@github.com/nking/recommender_systems.git@c1706ba8e5cedcd08b21c50a13241edb55a9ede0#egg=movie_lens_tfx
namex==0.1.0
narwhals==2.11.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
nltk==3.9.2
nodejs==0.1.1
notebook==7.4.7
notebook_shim==0.2.4
numba==0.62.1
numpy==1.26.4
oauth2client==4.1.3
oauthlib==3.3.1
objsize==0.7.1
opentelemetry-api==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opt_einsum==3.4.0
optional-django==0.1.0
optree==0.18.0
orjson==3.11.4
overrides==7.7.0
packaging @ file:///home/task_176104877067765/conda-bld/packaging_1761049113113/work
pandas==1.5.3
pandocfilters==1.5.1
parso==0.8.5
pexpect==4.9.0
pickleshare==0.7.5
pillow @ file:///home/task_176252756305210/conda-bld/pillow_1762528238325/work
platformdirs==4.5.0
playwright==1.56.0
plotly==6.4.0
pluggy==1.6.0
polars==1.35.2
polars-runtime-32==1.35.2
portalocker==3.2.0
portpicker==1.6.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
proto-plus==1.26.1
protobuf==3.20.3
psutil==7.1.3
ptyprocess==0.7.0
py4j==0.10.9.5
pyarrow==10.0.1
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
pydot==1.4.2
pyee==13.0.0
pyfarmhash==0.3.2
Pygments==2.19.2
pyjsparser==2.7.1
PyJWT==2.10.1
pymongo==4.15.4
pyparsing @ file:///croot/pyparsing_1731445506121/work
PyQt6==6.9.1
PyQt6_sip @ file:///home/task_175751008770153/conda-bld/pyqt-split_1757511022671/work/pyqt_sip
pyspark==3.2.4
pytest==8.0.0
pytest-subtests==0.13.1
pytest-timeout==2.4.0
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger==4.0.0
python-snappy==0.7.3
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
redis==5.3.1
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rouge_score==0.1.2
rpds-py==0.28.0
rsa==4.9.1
sacrebleu==2.5.1
scikit-learn==1.5.1
scipy==1.12.0
Send2Trash==1.8.3
shapely==2.1.2
simplejson==3.20.2
sip @ file:///croot/sip_1756223371714/work
six @ file:///croot/six_1744271502820/work
sniffio==1.3.1
soupsieve==2.8
sqlparse==0.5.3
tabulate==0.9.0
tenacity==9.1.2
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-data-validation==1.16.1
tensorflow-estimator==2.15.0
tensorflow-hub==0.15.0
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.16.1
tensorflow-serving-api==2.16.1
tensorflow-text==2.16.1
tensorflow-transform==1.16.0
tensorflow_model_analysis==0.47.1
termcolor==3.2.0
terminado==0.18.1
tf_keras==2.16.0
tfx==1.16.0
tfx-bsl==1.16.1
threadpoolctl==3.6.0
tinycss2==1.4.0
tomli @ file:///croot/tomli_1753774587605/work
tornado @ file:///croot/tornado_1748956929273/work
tqdm==4.67.1
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uri-template==1.3.0
uritemplate==3.0.1
urllib3==2.5.0
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==3.6.10
wrapt==2.0.1
zipp==3.23.0
zstandard==0.25.0
