pyarrow==18.1.0
python-snappy==0.7.3
numpy==2.1.0
apache-beam==2.73.0
tensorflow==2.21.0
tensorflow-transform==1.21.0
tensorboard==2.21.0
tfx==1.21.0
tensorflow-data-validation==1.21.0
tensorflow-metadata==1.21.0
ml-metadata==1.21.0
pandas==2.2.3
array-record==0.5.1
msgpack==1.2.1
